@model Event

    <section>
        @if (@Model.IsCancelled)
        {
            <h3>@Model.Name (Cancelled)</h3>
        }
        else
        {
            <h3>@Model.Name</h3>
        }
        <div>@Model.Description</div>
        <div> @Model.Location.City (@Model.Location.Province)</div>
        <div>Participants wanted: @Model.WantedAmountOfParticipants</div>
        <div>
            <h5>Event dates:</h5>
            @foreach (var timeframe in @Model.Timeframes)
            {
                <div>
                    <span>@timeframe.EventDate.Value.Date.ToShortDateString()</span>
                    (<span>@timeframe.Starttime</span>h / <span>@timeframe.Endtime</span>h)
                </div>
            }
        </div>
        
    </section>
