@model Event


<div>
    <ul class="list-unstyled">
        @if (@Model.IsCancelled)
        {
            <li>
                <h3>@Model.Name (Cancelled)</h3>
            </li>
        }
        else
        {
            <li>
                <h3>@Model.Name</h3>
            </li>
        }
        <li><h5>@Model.Location.City (@Model.Location.Province)</h5></li>
        <li><h5>Participants wanted: @Model.WantedAmountOfParticipants</h5></li>
        <li>
            <h4>Event dates:</h4>
            @foreach (var timeframe in @Model.Timeframes)
            {
                <h5>
                    <span>@timeframe.EventDate.Value.Date.ToShortDateString()</span>
                    (<span>@timeframe.Starttime</span>h / <span>@timeframe.Endtime</span>h)
                </h5>
            }
        </li>
    </ul>
</div>

