@model Event


<div>
    <div class="col">
        <input asp-for="UserEvents" type="hidden" />
        @if (Model.UserEvents.Count == 0)
        {
            <h5>There are currently no participants for this event</h5>
        }
        else
        {
            <ul class="list-unstyled">
                @foreach (var userEvent in @Model.UserEvents)
                {
                    <li class="participantRow align-items-center">

                        <div class="row">
                            <h5 class="participantName">@userEvent.UserProfile.FirstName @userEvent.UserProfile.LastName</h5>
                            @if (ViewBag.Page == "EditEvent")
                            {
                                <button asp-action="RemoveParticipantAsync"
                                        asp-controller="Events"
                                        asp-route-id="@Model.Id"
                                        asp-route-userId="@userEvent.UserId"
                                        type="submit"
                                        class="btn-delete-sm btn btn-danger form-control">
                                    <i class="fa fa-remove"></i>
                                </button>
                            }
                        </div>

                    </li>
                }
            </ul>
        }
    </div>
</div>
